
.artwork{
  position:relative;
  width:100%;

  padding-top:80%;
  
  height:0px;

  overflow:hidden;
  
  background-color:white;

  background: url( ../images/t-shirt.jpg ) center center no-repeat;
  background-size: contain;

}


.artwork__inner{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

}

.artwork__printArea{
  position:absolute;
    top:25%;
    left:35%;
    right:35%;
    bottom:15%;

  border-style:dotted;
  border-width:10px;


}
