.artwork{
  position:relative;
  display:inline-block;

}

.artwork__printArea{
  transform-origin:top left;
  //transform:scale(0.3, 0.3);

}

.artwork__printBorder{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  border-style:dashed;
  border-width:5px;
  border-color:#9e9e9e;

}

.artwork__inner{
  position:absolute;
    top:0cm;
    left:0;
    right:0;
    bottom:0;

  &.--hidden{
    overflow:hidden;
  }
}
