
.artwork{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

  background: url( ../images/tee.png ) center center no-repeat;
  background-size: contain;

}


.artwork__inner{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

}

.artwork__printArea{
  position:absolute;
    top:130px;
    left:155px;

  width:240px;
  height:320px;


  border-style:dashed;
  border-width:5px;
  border-color:#eee;


}
