.categoryTabs{
  border-bottom: 5px solid;
  border-color :$light-gray;
  padding: 0 $stampPool-padding;

}

.categoryTabs__table.n{
  table-layout:fixed;
  width: 100% ;

  height:$stampPool-tabs-height;
  margin-bottom:-5px;
}

.categoryTabs__row{

}

.categoryTabs__tab{ //td
  
  border-bottom: 5px solid;
  border-color :$light-gray;

  &.--current{
    border-color :$medium-gray;
  }

  vertical-align:middle;
  text-align:center;
}
