
.pageLayout{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

  height:100%;
  width:100%;
}

.pageLayout__topbar{
  position:absolute;
    top:0;
    left:0;
    right:0;

  height:$topbar-height;

}

.pageLayout__main{
  position:absolute;
    top:$topbar-height; 

    left:0;
    right:0;
    bottom:$stumpPool-height;

  background:white;

  margin-top:60px;

}

.pageLayout__artBoard{
  margin:0px $artBoard-side-padding;
}

.pageLayout__toolBox{
  position:absolute;
    top:0;
    right:$artBoard-side-padding - $toolBox-width;
}

.pageLayout__stampPool{
  position:absolute;

  height:$stumpPool-height;
    left:0;
    right:0;
    bottom:0;
}



