mixin topbar(current)
  .topbar#topbar
    .topbar__progress
      .progress
        table.n.progress__table
          tr
            td.progress__item#progress_start
              if current == "start"
                img.progress__img(src="/images/prog_start_white.png" alt="start")
              else
                img.progress__img(src="/images/prog_start.png" alt="start")

            td.progress__arrow 
              img.progress__arrowImg(src="/images/prog_arrow.png" alt="arrow")
            td.progress__item#progress_play.--current
              if current == "play"
                img.progress__img(src="/images/prog_play_white.png" alt="play")
              else
                img.progress__img(src="/images/prog_play.png" alt="play")

            td.progress__arrow 
              img.progress__arrowImg(src="/images/prog_arrow_2.png" alt="arrow")

            td.progress__item#progress_check
              if current == "check"
                img.progress__img(src="/images/prog_check_white.png" alt="check")
              else
                img.progress__img(src="/images/prog_check.png" alt="check")

    .topbar__moveButtons
      block
