extends layout

block head-end

block body-end
  script.
    //サーバーからの値の受け渡しはこうするしかない
    //もしくは、SPAにするか
    window.data = {
      artwork: !{ JSON.stringify(artwork) }
    };


  script(src="/javascripts/bundle.js")

block content
  .deviceScreen.--iPadAir2
    #ArtworkPage()




    
