extends layout

block head-end

block body-end
  script(src="/javascripts/bundle.js")

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          table.n.topButtons
            tr
              td.topButtons__cell
                a.button.moveButton.--back(href="/") 
                  img(src="/images/button_back.png" alt="BACK")
              td.topButtons__cell
                form(method="POST" action="/orders" style="display:inline-block")
                  input(type="hidden" name="artwork_id" value="#{artwork.id}")
                  button.moveButton.--next(type="submit") 
                    img(src="/images/button_done.png" alt="DONE")
        
      .pageLayout__content
        .pageLayout__main
          .pageLayout__artBoard
            .teePanel
              //should be svg
              .artBoard
                .artwork
                  .artwork__printArea
                    .artwork__inner
                      .stump(style="top:10%;left:13%;")
                        img.stump__img(src="/images/stamps/600/animal/galloping_horse.png")

                      .stump(style="top:40%;left:15%;")
                        img.stump__img(src="/images/stamps/600/sign/smc_blocktype_black.png")


          .pageLayout__toolBox
            .toolBox
              ul.toolBox__list
                li.toolBox__tool
                  button.toolBox__button#tool_trash 
                    img(src="/images/icon_trash.png")
                li.toolBox__tool
                  button.toolBox__button#tool_layer_up 
                    img(src="/images/icon_up.png")
                li.toolBox__tool
                  button.toolBox__button#tool_layer_down
                    img(src="/images/icon_down.png")
                li.toolBox__margin
                li.toolBox__tool
                  button.toolBox__button#tool_zoom
                    img(src="/images/icon_zoom.png")

            
        .pageLayout__stampPool
          #StampPool


    
