extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          a.button.moveButton.--next(href="./info") BACK
          a.button.moveButton.--next(href="./thankyou") SUBMIT
            
      .pageLayout__content
        .checkPage
          form
            table.n
              tr
                td
                  img(src="/images/tee.png")
                  
                td
                  img(src="/images/sweat.png")
                  
              tr
                td
                  table.n
                    tr
                      td 36
                      td 38
                      td 40
                      td 42
                      td 44
                    tr
                      td 2
                      td 1
                      td
                      td
                      td
                td
                  table.n
                    tr
                      td 36
                      td 40
                      td 44
                    tr
                      td 1
                      td
                      td

            hr.space 

            table.n
              tr
                td 整理券
                td 236
                td お客様名
                td いしいまさふみ

