extends layout

block append head-end
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

block content
  .pageLayout
    .pageLayout__topbar
      .topbar
        .siteLogo 
          | ARTON <br>
          | ARTBOT

    .pageLayout__content
      .pageLayout__side
        .toolsLayout
          .toolsLayout__tabs
            .toolsTabs
              .toolsTabs__tab.--active スタンプ
              .toolsTabs__tab 文字
              .toolsTabs__tab オリジナル

          .toolsLayout__panels
            .toolsPanels
              .toolsPanels__panel.--active
                .stumpsTable
                  each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                    .stumpTable__item
                      .stumpExample
                        img.stumpExample__img(src="/images/kotodamas/#{item}.png")
                        .stumpExample__cover
                          .stumpExample__addButton 追加する
                           
              .toolsPanels__panel
                .stringStump
                  //text, font, color

                  h3 いれたいもじ
                  input.stringStump__text(type="text" name="text" value="ARTON")

                  h3 フォント
                  label ゴシック体
                    input.stringStump__font(type="radio" name="font" value="gothic")
                  label セリフ体
                    input.stringStump__font(type="radio" name="font" value="serif" checked)
                  label カリグラフィー
                    input.stringStump__font(type="radio" name="font" value="callig")

                  h3 いろ
                  input.stringStump__color(type="text" name="color" value="#fac")
                  p todo カラーチューザー

                  h3 できあがり
                  .stringStump__output 
                    .outputBox
                      .outputBox__content(style="color:#fac;font-family:serif;") ARTON

                  p ↑ Teeエリアに持っていこう！

              .toolsPanels__panel
                p original

      .pageLayout__main
        .mainPanel
          .teePanel
            //should be svg
            .artwork
              .artwork__inner
                .stump(style="top:30px;left:50px;")
                  img.stump__img(src="/images/kotodamas/3.png")

                .stump(style="top:100px;left:70px;")
                  img.stump__img(src="/images/kotodamas/4.png")

                .stump(style="top:70px;left:250px;")
                  img.stump__img(src="/images/kotodamas/5.png")

    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    script.
      const tabs = Array.from(document.querySelectorAll(".toolsTabs__tab"))
      const panels = Array.from(document.querySelectorAll(".toolsPanels__panel"))

      tabs.forEach((tab, index)=>{
        tab.addEventListener("click",(e)=>{
          console.log(tab,index);
          tabs.forEach((tab)=>{
            tab.classList.remove("--active");
          });

          tabs[index].classList.add("--active");
          panels.forEach((panel)=>{
            panel.classList.remove("--active");
          });
          panels[index].classList.add("--active");
        });
      });

      const stumpExamples = Array.from(document.querySelectorAll(".stumpExample"))

      const artwork_inner = document.querySelector(".artwork__inner")


      stumpExamples.forEach((stumpExample, index) =>{
        const stump_img_src = stumpExample.children[0].getAttribute("src"); 

        stumpExample.addEventListener("click", function(e ){


          const stump_proto  = document.querySelector(".stump");

          const copied_stump = stump_proto.cloneNode();

          const new_img = stump_proto.children[0].cloneNode();


          new_img.setAttribute("src",stump_img_src );

          copied_stump.appendChild(new_img);

          //どうやってやるのかわからん。そろそろReactの方がいいんじゃないか？
          artwork_inner.appendChild(copied_stump);

          setDraggable();
        });
      });

      function setDraggable(){
        const stumps =  $(".stump");
        stumps.draggable();
      }

      setDraggable();

