extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        .topbar#topbar
          .topbar__progressButtons
            ol.progress
              li.progress__item#progress_start
                |start
              li.progress__arrow
              li.progress__item#progress_play.--current
                |play
              li.progress__arrow
              li.progress__item#progress_check
                |check

            
          .topbar__moveButtons
            button.moveButton.--back BACK
            button.moveButton.--next SUBMIT
        
      .pageLayout__main

        .pageLayout__artBoard
          .teePanel
            //should be svg
            .artBoard
              .artwork
                .artwork__printArea
                .artwork__inner
                  .textStump(style="top:50%;left:50%;") ARTON
                  .stump(style="top:50%;left:50%;")
                    img.stump__img(src="/images/kotodamas/3.png")
                  .textStump(style="top:20%;left:50%;") ARTON

        .pageLayout__toolBox
          .toolBox
            ul.toolBox__list
              li.toolBox__tool
                button.toolBox__button#tool_trash delete
              li.toolBox__tool
                button.toolBox__button#tool_layer_up layer up
              li.toolBox__tool
                button.toolBox__button#tool_layer_down layer down
              li.toolBox__margin
              li.toolBox__tool
                button.toolBox__button#tool_zoom_in_out zoom in /out
          
      .pageLayout__stampPool
        .stampPool
          button.stampPool__foldButton
          .stampCategory
            .stampCategory__tabs
              .stampCategory__tab#cat_tab_animal    ANIMAL
              .stampCategory__tab#cat_tab_botanical BOTANICAL
              .stampCategory__tab#cat_tab_motif     MOTIF
              .stampCategory__tab#cat_tab_message   MESSAGE
              .stampCategory__tab#cat_tab_sign      SIGN
              .stampCategory__tab#cat_tab_alphabet  ALPHABET

            .stampCategory__panel#cat_panel_animal
              table.stampsTable
                each _,index in Array(3)
                  tr
                    each _,index in Array(7)
                      td.stampsTable__item aho
                        .stampExample
                          img.stampExample__img(src="/images/kotodamas/#{item}.png")
                          .stampExample__cover
                            .stampExample__addButton 追加する

            .stampCategory__panel#cat_panel_botanical
            .stampCategory__panel#cat_panel_motif    
            .stampCategory__panel#cat_panel_message  
            .stampCategory__panel#cat_panel_sign     
            .stampCategory__panel#cat_panel_alphabet 
        






  
