extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          a.button.moveButton.--next(href="./play") BACK
          a.button.moveButton.--next(href="./check") CHECK
            
      .pageLayout__content
        .checkPage
          form
            table.n
              tr
                td
                  img(src="/images/tee.png")
                
                  
                td
                  img(src="/images/sweat.png")
                  
              tr
                td
                  table.n
                    tr
                      td 36
                      td 38
                      td 40
                      td 42
                      td 44
                    tr
                      td
                        input(type="number" name="tee-size-36")
                      td
                        input(type="number" name="tee-size-38")
                      td
                        input(type="number" name="tee-size-40")
                      td
                        input(type="number" name="tee-size-42")
                      td
                        input(type="number" name="tee-size-44")
                td
                  table.n
                    tr
                      td 36
                      td 40
                      td 44
                    tr
                      td
                        input(type="number" name="sweat-size-36")
                      td
                        input(type="number" name="sweat-size-40")
                      td
                        input(type="number" name="sweat-size-44")

            hr.space 

            table.n
              tr
                td 整理券
                td 
                  input(type="text" name="ticket_number" value="")
                td お客様名
                td 
                  input(type="text" name="customer_name" value="")

