extends layout

block append head-end
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

block content
  .pageLayout
    .pageLayout__topbar
      .topbar
        .siteLogo 
          | ARTON <br>
          | ARTBOT

    .pageLayout__content
      .pageLayout__side
        .toolsLayout
          .toolsLayout__tabs
            .toolsTabs
              .toolsTabs__tab.--active スタンプ
              .toolsTabs__tab 文字
              .toolsTabs__tab オリジナル

          .toolsLayout__panels
            .toolsPanels
              .toolsPanels__panel.--active
                .stumpsTable
                  each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                    .stumpTable__item
                      .stumpExample
                        img.stumpExample__img(src="/images/kotodamas/#{item}.png")
                        .stumpExample__cover
                          .stumpExample__addButton 追加する
                           
              .toolsPanels__panel
                .stringStump
                  //text, font, color

                  h3 いれたいもじ
                  input.stringStump__text(type="text" name="text" value="ARTON")

                  h3 フォント
                  label ゴシック体
                    input.stringStump__font(type="radio" name="font" value="gothic")
                  label セリフ体
                    input.stringStump__font(type="radio" name="font" value="serif" checked)
                  label カリグラフィー
                    input.stringStump__font(type="radio" name="font" value="callig")

                  h3 いろ
                  input.stringStump__color(type="text" name="color" value="#fac")
                  p todo カラーチューザー

                  h3 できあがり
                  .stringStump__output 
                    .outputBox#textProtoBox
                      .outputBox__content#textProto(style="color:#fac;font-family:serif;") ARTON

                  p ↑ Teeエリアに持っていこう！

              .toolsPanels__panel
                p original

      .pageLayout__main
        .mainPanel
          .teePanel
            //should be svg
            .proto(style="display:none")
              .stump(style="top:50%;left:50%;")
                img.stump__img(src="/images/kotodamas/3.png")
              .textStump(style="top:50%;left:50%;") ARTON

            .artwork
              .artwork__printArea
              .artwork__inner
                .textStump(style="top:50%;left:50%;") ARTON

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js")
    script(src="/javascripts/main.js")

