extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          a.button.moveButton.--back(href="./") BACK
          a.button.moveButton.--next(href="./info") DONE
        
      .pageLayout__content
        .pageLayout__main

          .pageLayout__artBoard
            .teePanel
              //should be svg
              .artBoard
                .artwork
                  .artwork__printArea
                  .artwork__inner
                    .textStump(style="top:50%;left:50%;") ARTON
                    .stump(style="top:50%;left:50%;")
                      img.stump__img(src="/images/kotodamas/3.png")
                    .textStump(style="top:20%;left:50%;") ARTON

          .pageLayout__toolBox
            .toolBox
              ul.toolBox__list
                li.toolBox__tool
                  button.toolBox__button#tool_trash delete
                li.toolBox__tool
                  button.toolBox__button#tool_layer_up layer up
                li.toolBox__tool
                  button.toolBox__button#tool_layer_down layer down
                li.toolBox__margin
                li.toolBox__tool
                  button.toolBox__button#tool_zoom_in_out zoom in /out
            
        .pageLayout__stampPool
          .stampPool
            button.stampPool__foldButton fold

            .stampCategory
              .stampCategory__tabs
                .categoryTabs
                  table.n.categoryTabs__table
                    tr.categoryTabs__row
                      td.categoryTabs__tab#cat_tab_animal    ANIMAL
                      td.categoryTabs__tab#cat_tab_botanical BOTANICAL
                      td.categoryTabs__tab#cat_tab_motif.--current MOTIF
                      td.categoryTabs__tab#cat_tab_message   MESSAGE
                      td.categoryTabs__tab#cat_tab_sign      SIGN
                      td.categoryTabs__tab#cat_tab_alphabet  ALPHABET

              .stampCategory__panels
                .categoryPanels
                  .categoryPanels__panel#cat_panel_animal
                    table.n.stampsTable
                      each _,index in Array(2)
                        tr
                          each _,index in Array(6)
                            td.stampsTable__item 
                              .stampExample
                                img.stampExample__img(src="/images/kotodamas/#{index+1}.png")
                                .stampExample__cover
                                  .stampExample__addButton 追加する

                  .categoryPanels__panel#cat_panel_botanical
                  .categoryPanels__panel#cat_panel_motif    
                  .categoryPanels__panel#cat_panel_message  
                  .categoryPanels__panel#cat_panel_sign     
                  .categoryPanels__panel#cat_panel_alphabet 
          






    
