extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          form(action="/artworks" method="POST")
            input.moveButton.--next(type="submit" value="START") 
            
      .pageLayout__content
        .welcomePage(style="justify-content: center; align-items: center;  display: flex; height:100%; ")
          | Welcome

 
