extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()

          table.n.topButtons
            tr
              td.topButtons__cell
              td.topButtons__cell
                form(action="/artworks" method="POST")
                  button.moveButton.--next(type="submit") 
                    img(src="/images/button_start.png" alt="START")


            
      .pageLayout__content
        .welcomePage(style="justify-content: center; align-items: center;  display: flex; height:100%; ")
          img(src="/images/welcome.png" alt= "Welcome" style="width:500px")

 
