extends layout

block head-end

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()

          table.n.topButtons
            tr
              td.topButtons__cell
              td.topButtons__cell
                a.button.moveButton.--back(href="/") 
                  img(src="/images/button_new.png" alt="NEW")
            
      .pageLayout__content
        .thankyouPage(style="justify-content: center; align-items: center;  display: flex; height:100%; ")
          img(src="/images/thankyou.png" alt= "Thank you!"  style="width:500px")

