table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  &.n {
    margin: 0;
    tr{
      border-bottom:0;
    }
    th {
      font-weight: normal;
    }

    td {
      padding: 0;
    }

  }
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {
  font-weight: 600;
}

th,
td {
  padding: $small-spacing $small-spacing $small-spacing 0;
}
